*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    background: linear-gradient(45deg, #1db86e, #2c3a3e);
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: inherit;
}

.logo {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #ea0707, #d87517, #04039f, #181443);
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-item {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-item:hover {
    color: #ffdf00;
}


@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        gap: 10px;
    }

    .logo {
        font-size: 1.5rem;
    }
}